.dynamic-content{
	background-color: rgb(99, 99, 99);
	padding: 100px;
	color: black;
	z-index: 1;
}
.container-lay {  display: grid;
	grid-template-columns: 1.1fr 0.7fr 0.7fr 0.7fr;
	grid-template-rows: 1fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: column dense;
	grid-template-areas:
	  ". . . ."
	  ". . . .";

	background-color: rgb(226, 190, 72);
	z-index: 3;
	
  }
  .border{
	border: 1px solid rgb(36, 36, 36);
  }
